<table class="table table-striped table-hover">
    <tr>
        <td>
            <div class="btn-group d-flex justify-content-start" role="group" aria-label="Exemplo">
                <a class="btn btn-primary" asp-page="Index">Home</a>
                <a class="btn btn-primary" asp-page="/Task/Create/Index">Nova Tarefa</a>
                <a class="btn btn-primary" asp-page="/Task/Update">Editar Tarefa</a>
                <a class="btn btn-primary" asp-page="/Task/Delete">Apagar Tarefa</a>
                <a class="btn btn-primary" asp-page="/Task/View/Index">Ver Tarefas</a>  
            </div>
        </td>
    </tr>
</table>