<!DOCTYPE html>
<html>
    <head>
        <style>
            .table-hover-custom tbody tr:hover {
                background-color: #ece6ff;
            }
        </style>
        <title>Teste SPA Tarefas</title>
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <partial name="./_MainMenuPartialPage.cshtml" />
        </header>
        <main>
            @RenderBody()
        </main>
        <p><hr/></p>
        <footer class="bg-primary text-white py-3 text-center">2024 - Victor Augustus Lopes Costa</footer>

        @RenderSection("scripts", required: false)
    </body>
</html>